$background-color: #2F4F4F;
$background-red: #4d0013;
$font-white: #FFFFFF;


@font-face {
  font-family: 'Beleren';
  src: url('../assets/fonts/Beleren-Bold.woff2') format('woff2'),
  url('../assets/fonts/Beleren-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.cardpageBody {
  width: 100%;
  height: auto;
  background-image: url("/assets/imgs/backgrounds/background1.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: "Beleren", "sans-serif";
  .mtgCardContainer {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .mtgCardHeader {
      height: 200px;
      width: 350px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: $background-color;
      color: $font-white;
      border-radius: 10px;
      margin-bottom: 10px;
      .mtgCardHeaderTitle {
        font-size: 2rem;
      }
      .mtgCardHeaderText {
        font-style: italic;
        font-size: 1.2rem;
      }
    }
    .returnButton {
      text-decoration: none;
      background-color: $background-red;
      color: $font-white;
      padding: 30px;
      border-radius: 5px;
      margin-bottom: 10px;
      border: solid 2px $font-white;
      font-family: "Beleren", "sans-serif";
      font-weight: bold;
    }
  }
}

.cardBackGreen {
  display: flex;
  flex-direction: column;
  position: static;
  background-image: url("/assets/imgs/cardBacks/greenCardBack.png");
  background-color: $font-white;
  height: 698px;
  width: 500px;
  margin-bottom: 10px;
}

.cardBackBlue {
  display: flex;
  flex-direction: column;
  position: static;
  background-image: url("/assets/imgs/cardBacks/blueCardBack.png");
  background-color: $font-white;
  height: 698px;
  width: 500px;
  margin-bottom: 10px;
}

.cardBackRed {
  display: flex;
  flex-direction: column;
  position: static;
  background-image: url("/assets/imgs/cardBacks/redCardBack.png");
  background-color: $font-white;
  height: 698px;
  width: 500px;
  margin-bottom: 10px;
}

.cardBackBlack {
  display: flex;
  flex-direction: column;
  position: static;
  background-image: url("/assets/imgs/cardBacks/blackCardBack.png");
  background-color: $font-white;
  height: 698px;
  width: 500px;
  margin-bottom: 10px;
}

.cardBackWhite {
  display: flex;
  flex-direction: column;
  position: static;
  background-image: url("/assets/imgs/cardBacks/whiteCardBack.png");
  background-color: $font-white;
  height: 698px;
  width: 500px;
  margin-bottom: 10px;
}

.cardTopContainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 500px;
  font-size: 1.2rem;
  margin-top: 5.5%;
  margin-left: 10%;
}

.cardTitleContainer {
  width: 300px;
}

.cardTitle {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 1.5rem;
}

.manaCostContainer {
  display: flex;
  justify-content: flex-end;
  width: 200px;
  margin-right: 19%;
  flex-direction: row;
  gap: 5px;
}

.manaNeutralContainer {
  position: relative;
}

.manaCostDisplayContainer {
  position: relative;
  height: 25px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.manaCostColor {
  height: 25px;
}

.manaNeutral {
  height: 25px;
}

.manaNeutralCost {
  position: absolute;
  font-weight: bold;
  font-size: 1.3rem;
  top: -21px;
  right: 6px;
  z-index: 10;
}

.cardArtContainer {
  position: static;
  width: 414px;
  height: 307px;
  margin-left: 8.5%;
  margin-top: -1%;
  z-index: 5;
}

.cardArt {
  width: 414px;
  height: 307px;
}

.cardTypeContainer {
  margin-top: -1.4%;
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cardTypeTitleContainer {
  width: 80%;
}

.cardTypeText {
  font-size: 1.1rem;
}

.cardSetLogoImage {
  height: 25px;
}

.descriptionContainer {
  width: 405px;
  height: 185px;
  margin-left: 10%;
}

.abilityCostContainer {
  margin-top: 16px;
  position: relative;
  float: left;
  display: flex;
  height: 19px
}

.description {
  display: flex;
  flex-wrap: wrap;
}

.abilityCost {
  height: 25px;
  margin-right: 2px;
}

.descriptionContentsContainer {
  font-size: 1.1rem;
}

.designerText {
  margin-top: 5px;
  font-style: italic;
}

.powerandtoughContainer {
  display: flex;
  justify-content: flex-end;
  margin-top:  -3%;
  margin-right: 14%;
  font-size: 1.3rem;
  font-weight: bold;
}

.abilityNeutral {
  position: relative;
  margin-right: 2px;
}

.abilityNeutralCost {
  position: absolute;
  top: -17px;
  left: 3px;
  font-weight: bold;
  margin-left: 4px;
  font-size: 1.2rem;
  z-index: 10;
}

