
/*Setup MTG Fonts*/

@font-face {
  font-family: 'Beleren Small Caps';
  src: url('../public/assets/fonts/BelerenSmallCaps-Bold.woff2') format('woff2'),
  url('../public/assets/fonts/BelerenSmallCaps-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Beleren';
  src: url('../public/assets/fonts/Beleren-Bold.woff2') format('woff2'),
  url('../public/assets/fonts/Beleren-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: 'Beleren Small Caps','sans-serif';
}